
#title{
  background-color: #12B1EF;
  background-image: url("https://i.pinimg.com/originals/b2/48/f9/b248f9c03e49ff63f6fee0d83a64c9e9.jpg");
  background-size: cover;
  height: 100%;
}

 html, body {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: 'Ubuntu', sans-serif;
}
h3{
  font-family: 'Ubuntu', sans-serif;
}

.col-exp{
  padding:0 5%;
}

.container-fluid{
  padding: 10% 15%;
}

.container-bottom{
  padding-top: 10%;
  padding-bottom: 30%;
}
.container-footer{
  padding-top: 5%;
}
.container-intro{
  padding-top: 10%;
  padding-bottom: 20%;
}
.container-mid{
  padding-top: 10%;
}
.container-top{
  padding-top:5%;
}

.copyright{
  padding-top: 5%;
}


.dates{
  text-align: right;
  font-style: italic;
}

.descrip-exp{
  text-align: left;
  padding-bottom: 15%;
}
.descrip-intro{
  padding: 0 10%;
  text-align: justify;
}


.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-style: normal;
}

.radiuspic-profile{
  max-width: 40%;
  max-height: 40%;
  border-radius: 100%;
}

.radiuspic{
  /* max-width: 25%;
  max-height: 25%; */
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.title-exp{
  padding: 5% 0;
  font-size: 1.2rem;
}

.title-section{
  padding-bottom: 5%;
}

.top-navbar{
  padding-bottom: 10%;
}
